<%- include('../layout/header.ejs' )%>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Reset Password</h3>

                        <form action="/changePassword" method="post" onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label for="currentPassword" class="form-label">Enter Current Password</label>
                                <input type="password" name="currentPassword" class="form-control" id="currentPassword" placeholder="Enter Current Password" >
                                <hr>

                                <label for="newPassword" class="form-label">Enter New Password</label>
                                <input type="password" name="password" class="form-control" id="newPassword" placeholder="Enter New Password" >
                                
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" name="cpassword" class="form-control" id="confirmPassword" placeholder="Confirm New Password" >
                                <input type="hidden" name="user_id" value="<%= user_id %>">
                            </div>
                            <p> Give at least 5 characters long and include both letters and numbers.</p>
                            <div id="passwordMessage">
                                <% if (typeof message !== 'undefined' && message !== null) { %>
                                    <p style="color: red;"><%= message %></p>
                                <% } %>
                            </div> <br>
                            
                            <button type="submit" class="btn btn-success w-100">Reset Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layout/footer.ejs' )%>

    <script>
        function validateForm() {
            var currentPassword = document.getElementById('currentPassword').value.trim();
            var newPassword = document.getElementById('newPassword').value.trim();
            var confirmPassword = document.getElementById('confirmPassword').value.trim();

            if (currentPassword.length === 0) {
                displayValidationMessage("Please enter the current password.", 'error');
                return false;
            }

            if (newPassword === "") {
                displayValidationMessage("Please enter a new password.", 'error');
                return false;
            }

            if (confirmPassword === "") {
                displayValidationMessage("Please confirm the new password.", 'error');
                return false;
            }

            // if (newPassword !== confirmPassword) {
            //     displayValidationMessage("New password and confirm password do not match.", 'error');
            //     return false;
            // }

            if (newPassword.length < 5 || !/\d/.test(newPassword) || !/[a-zA-Z]/.test(newPassword)) {
                displayValidationMessage("Give strong password.", 'error');
                return false;
            }

            return true;
        }

        function displayValidationMessage(message, type) {
            var messageContainer = document.getElementById('passwordMessage');
            messageContainer.innerHTML = message;
            messageContainer.style.color = (type === 'error') ? 'red' : 'green';
        }
    </script>
